# --- Archivos de sistema y Python ---
__pycache__/
*.py[cod]

# --- Datasets grandes (GloVe y comprimidos) ---
# Estos archivos pesan más de 300MB y 800MB respectivamente
glove.6B*
*.zip
*.rar

# --- Modelos de IA ---
# El archivo .pt pesa 96MB, está al límite. GitHub bloquea a los 100MB
# pero avisa a los 50MB. Es mejor ignorarlo si tienes copia local.
*.pt
*.pth
models/

# --- Archivos específicos de tu imagen ---
glove.6B.100d