# --- Archivos de sistema y entorno (Python standard) ---
__pycache__/
*.py[cod]
.venv
.env
.ipynb_checkpoints/

# --- Modelos de PyTorch (Suelen pesar +100MB) ---
# Bloqueamos todos los checkpoints para evitar subir pesos por error
*.pt
*.pth
*.bin
# Específicamente los que veo en tu imagen:
best_model_attn.pt
model_final_fixed.pt

# --- Datasets y Embeddings (Archivos masivos) ---
# Vectores de palabras comprimidos (ej. cc.es.300.vec.gz)
*.vec.gz
*.gz

# Archivos GloVe y textos masivos
# Cuidado: no uso *.txt general para no bloquear requirements.txt
glove*.txt
*.vec

# Archivos comprimidos generales
*.zip
*.rar

# --- Carpetas específicas que parecen contener data ---
# Si la carpeta 'models' solo tiene binarios, es mejor ignorarla completa
models/
# Carpeta de vectores descomprimidos (si se genera al descomprimir)
glove*/